<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantDex">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ResetPasswordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RoleSplashActivity" android:screenOrientation="portrait" />

        <!-- Visitor -->
        <activity android:name=".VisitorDashboardActivity" android:screenOrientation="portrait" />
        <activity android:name=".CapturePhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".ConfirmPhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".IdentificationResultActivity" android:screenOrientation="portrait" />
        <activity android:name=".CollectibleInventoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".SearchInventoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".CollectibleCardActivity" android:screenOrientation="portrait" />

        <!-- Shared account -->
        <activity android:name=".MyAccountActivity" android:screenOrientation="portrait" />
        <activity android:name=".EditMyAccountActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />

        <!-- User Admin -->
        <activity android:name=".UserAdminDashboardActivity" android:screenOrientation="portrait" />
        <activity android:name=".ProfileTypeManagementActivity" android:screenOrientation="portrait" />
        <activity android:name=".EditProfileTypeActivity" android:screenOrientation="portrait" />
        <activity android:name=".UserAccountManagementActivity" android:screenOrientation="portrait" />
        <activity android:name=".EditAccountDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".AuditLogActivity" android:screenOrientation="portrait" />

        <!-- System Admin -->
        <activity android:name=".SystemAdminDashboardActivity" android:screenOrientation="portrait" />
        <activity android:name=".CollectibleErrorLogActivity" android:screenOrientation="portrait" />
        <activity android:name=".CollectibleManagementActivity" android:screenOrientation="portrait" />
        <activity android:name=".CreateCollectibleActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />

        <!-- Researcher -->
        <activity android:name=".ResearcherDashboardActivity" android:screenOrientation="portrait" />
        <activity android:name=".BotanicalRecordManagementActivity" android:screenOrientation="portrait" />
        <activity android:name=".ArchitectureRecordManagementActivity" android:screenOrientation="portrait" />
        <activity android:name=".CreateBotanicalRecordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".CreateArchitectureRecordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ResearcherAuditLogActivity" android:screenOrientation="portrait" />

        <activity android:name=".MainActivity" android:exported="false" />
    </application>

</manifest>
